.StudyBrowser
  float: left
  height: var(--study-browser-height);
  width: 100%
  overflow: hidden
  background-color: black
  padding-top: 10px

  .scrollable-study-thumbnails
    height: 130px
    overflow-y: hidden
    overflow-x: auto
    // padding-bottom: 50px
    padding-right: 16px
    padding-left: 4px
    margin-right: -16px
    white-space:nowrap
    // position: relative;
    &:before{
      content:'请按住底部左右滑动';
      color: #fff;
      position: absolute;
      bottom: 10px;
      left :0;
      width:100%;
      text-align: center;
    }
    // &::-webkit-scrollbar
    //   display: none

    .ThumbnailEntryContainer
      display: inline-block;
      .noselect
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/


.draggable
  cursor: copy
  cursor: -webkit-grab
  cursor: -moz-grab
